{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
<a href="{% url 'alumnos_alta' %}"><img src="{% static 'images/icons8-plus-32.png' %}"></a>
{% endblock %}

{% block contenido %}

    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-dark-grey">
                <th>Acciones</th>
                <th>Nombre</th>
                <th>Escuela</th>
                <th>Maestro</th>
                <th>Sexo</th>
                <th>Fecha de Nacimiento</th>
            </tr>
        </thead>
        {% for alumno in alumnos %}
        <tr>
            <td>
                <a href="{% url 'alumnos_eliminar' id=alumno.id %}"><img
                        src="{% static 'images/icons8-delete-32.png' %}"></a>
                <a href="{% url 'alumnos_editar' id=alumno.id %}"><img
                        src="{% static 'images/edit-property-32.png' %}"></a>
            </td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.escuela.siglas }}</td>
            <td>{{ alumno.maestro.nombre }}</td>
            <td>{{ alumno.get_sexo_display }}</td>
            <td>{{ alumno.fecha_nacimiento }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
